body {
  background-color: white;
  color: black; /*text color*/
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem; 
  font-weight: 1000;
  line-height: 140%;
  letter-spacing: 0;
  padding : 20px 20px 20px 20px;
  border : 1px solid black;
}

h2 {
  font-size: 100px;
  text-align: center;
  /*margin: 5%; /*space outside the border*/
  text-shadow: 10px 10px 10px #6c6c6c; /*horizontal, vertical, blur, color*/
}

img,
video {
  display: block; /*gives the in-line image, block-like behavior*/
  margin: 5% auto;
  width: 300px; /*resizes image*/
}

